@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

/* Dark mode variant (Tailwind v4) */
@custom-variant dark (&:where(.dark, .dark *));

/* Global font */
* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

/* Custom theme color */
@theme {
  --color-primary: #5044E5;
}
